body{
    background-color: rgb(173, 108, 233);
}
span{
    font-size: 35px;
}
#camera, #result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.heading{
    font-size: 20px;
    border-radius: 25px;
}